<div class='public'>
  <h2><%= Rails.application.config.title %> Demo</h2>
  <p>This application is a live demo of the 
    <%= link_to "#{Rails.application.config.title} template repository", Rails.application.config.github_url %>.
  </p>
  <%= link_to "Sign Up with Email", new_user_registration_path, class: 'button cta' %><br /> <br />
  <% if params[:auth0] %>
    <%= button_to 'Log In with Socials', '/auth/auth0', method: :post, class: 'button cta-light' %>
  <% end %>
  <hr />
  <ul>
    <li><%= link_to "View the docs", "/docs" %></li>
    <li><%= link_to "View the source code", Rails.application.config.github_url %></li>
    <li><%= link_to "Use the template", "#{Rails.application.config.github_url}/generate" %></li>
  </ul>
</div>
