<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= Rails.application.config.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="A Ruby on Rails starter application">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script defer data-domain="<%= Rails.application.config.domain %>" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <h1><a class="navbar-brand" href="<%= root_path %>"><%= Rails.application.config.title %></a></h1>
        <ul class="navbar-nav">
          <li><%= link_to "Docs", "/docs/" %></li>
          <% if current_user %>
            <li class="nav-item"><%= link_to "Account", account_path, class: 'nav-link' %></li>
            <li class="nav-item">
              <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item"><%= link_to "Pricing", pricing_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class='container'>
      <section>
        <% flash.each do |type, msg| %>
          <div class="alert alert-info">
            <%= msg %>
          </div>
        <% end %>
        <%= yield %>
      </section>
    </div>
    <footer>
      <div class='container'>
        &copy; <%= Time.now.strftime("%Y") %> &middot;
        <%= link_to "Terms of Service", legal_terms_path %> &middot;
        <%= link_to "Privacy Policy", legal_privacy_path %> &middot;
        <%= link_to "GitHub", Rails.application.config.github_url, target: "_blank" %>
      </div>
    </footer>
    <%= javascript_importmap_tags('/assets/application.js', shim: false) %>
  </body>
</html>
