<!DOCTYPE html>
<html>
  <head>
    <title>Starter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="<%= root_path %>">SaaS Starter</a>
      <ul class="navbar-nav">
        
        <% if current_user %>
          <li class="nav-item"><%= link_to "Account", account_path, class: 'nav-link' %></li>
          <li class="nav-item">
            <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
        <li class="nav-item"><%= link_to "Pricing", pricing_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </nav>
    <div class='container'>
      <section>
        <%= yield %>
      </section>
    </div>
    <footer>
      <div class='container-fluid'>
      &copy; <%= Time.now.strftime("%Y") %> &middot;
      <%= link_to "Terms of Service", legal_terms_path %> &middot;
      <%= link_to "Privacy Policy", legal_privacy_path %>
      </div>
    </footer>
    <%= javascript_importmap_tags('/assets/application.js', shim: false) %>
  </body>
</html>
