<h2>Account Details</h2>
<p>Logged in as <%= current_user.email %></p>

<h2>Billing Details</h2>
<% if current_user.stripe_subscription_id %>
  <%= link_to "Edit Subscription", @portal %>
<% else %>
  <div class='plans'>
    <% @prices.each do |price| %>
      <div class='card'>
        <div class='card-body'>
          <h3><%= price.nickname %></h3>
          <%= form_tag subscribe_account_path do %>
            <%= hidden_field_tag :price_id, price.id %>
            <button id='checkout-button' class='btn btn-outline-primary'>
              <%= as_currency(price.unit_amount) %>
              <% if price.recurring && price.transform_quantity %>
                for every <%= price.transform_quantity[:divide_by]  %>
              <% end %>
            </button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>