<h2>Account Details</h2>
<p>Logged in as <%= current_user.email %></p>

<h2>Billing Details</h2>
<% if current_user.stripe_subscription_id %>
<%= link_to "Edit Subscription", @portal %>
<% else %>



<h2>Products</h2>

<% @products.each do |product| %>
  <h3><%= product.name %></h3>
  <% product.prices.each do |price| %>
    <%= form_tag subscribe_account_path do %>
      <%= hidden_field_tag :price_id, price.id %>
      <%= hidden_field_tag :mode, price.recurring ? 'subscription' : 'payment' %>
      <button>
      <% if price.recurring %>
        Subscribe <%= price.recurring.interval %>ly
      <% else %>
      Pay
    <% end %>
    <%= "$%.2f" % (price.unit_amount.to_f / 100) %>
    </button>
    <% end %>
    <% end %>
<% end %>

<% end %>